<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>
    <body>
        <section>
                <div style="border: 1px solid black; width:300px; margin:0 auto; padding:5px 30px">
                    <h2>Instructions:</h2>
                    <ol style="font-size:18px">
                        <li>Select Array's size</li>
                        <li>Click Submit</li>
                        <li>Select Sorting Algorithm</li>
                        <li>Click Sort</li>
                    </ol>
                </div>
            <div class="center">
                <h1>Sorting Application</h1>
                    <p class="text">Size of array</p>
                <form>
                    <select class="dropDown" name="selectedSize">
                        <option  th:each="size : ${array}"
                                 th:value="${size}"
                                 th:text="${size}">
                        </option>
                    </select><br/>
                    <button class="buttons">Create</button><br/>

                </form>
                <div th:each="sortModel : ${list}" style="display:inline-block" th:name="${sortModel}">
                    <p class="border" th:text="${sortModel}" >ID</p>
                </div>
                <p class="text">Select Sorting Algorithm</p>
                <form method="POST">
                    <select class="dropDown">
                        <option value="Selection Sort">Selection Sort</option>
                    </select><br/>
                    <button class="buttons">Sort</button>
                </form>
            </div>
        </section>
    </body>
</html>